@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background: #2b2d42;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #2b2d42;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(180deg, #009dff 0%, #c10b66 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

